<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
  <span>Home Page</span>
      <span class="example-fill-remaining-space"></span>
      <span class="align-center"></span>
      <span style="margin-left: 80%;"></span>
      <button mat-button>About</button>
      <button mat-button>Contacts</button>
   </mat-toolbar-row>
  </mat-toolbar> -->
<div style="margin-top: 20px;">
  <div class="container">

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    
    <mat-card class="example-card">
      <div mat-card-avatar class="example-header-image">
        <img src="../../assets/Images/User Profile.png">
  
      </div>
      <mat-card-header>
        
        <mat-card-title>User Profile</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <mat-card-content>
        <p>
          
        </p>
      </mat-card-content>
      <mat-card-actions style="text-align: center;">
        <button mat-raised-button color="primary" routerLink="/profile">View</button>
        <button mat-raised-button color="primary">Edit</button>
      </mat-card-actions>
    </mat-card>
    </div>
    <div class="col-sm-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img src="../../assets/Images/jobs.png">

          </div>
          <mat-card-title>Jobs</mat-card-title>
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
          <p>
            
          </p>
        </mat-card-content>
        <mat-card-actions style="text-align: center;">
          <button mat-raised-button color="primary" routerLink="/jobs">View</button>
          <button mat-raised-button color="primary">Edit</button>
        </mat-card-actions>
      </mat-card>
      </div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img src="../../assets/Images/AppliedCandidates.png">
        </div>
        <mat-card-title>Applied Candidates</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <mat-card-content>
        <p>
          
        </p>
      </mat-card-content>
      <mat-card-actions style="text-align: center;">
        <button mat-raised-button color="primary">View</button>
        <button mat-raised-button color="primary">Edit</button>
      </mat-card-actions>
    </mat-card>
    </div>
    <div class="col-sm-4">
      <mat-card class="example-card">
        <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img src="../../assets/Images/reports.png">

        </div>
          <mat-card-title>Reports</mat-card-title>
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
          <p>
            
          </p>
        </mat-card-content>
        <mat-card-actions style="text-align: center;">
          <button mat-raised-button color="primary">View</button>
          <button mat-raised-button color="primary">Edit</button>
        </mat-card-actions>
      </mat-card>
      </div>
</div>
      
</div>
</div>




  
  
  
  
  <!-- Copyright 2019 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
  
  
  <!-- Copyright 2019 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->