#logincard{
    margin-top: 1%;
    width: 30%;
    margin-left: 32%;
    
}
.inside{
    margin-left: 30%;
}
.example-full-width{
    width: 100%;
}
.example-card{
    text-align: center;
}
#id{
    margin-left: 20%;
}