<div class="container">

  <div class="row">
    <h3>Candidate Profile</h3>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <mat-form-field class="col-md-12">
              <input matInput placeholder="First name">
            </mat-form-field>
            <mat-form-field class="col-md-12">
              <input matInput placeholder="Email">
            </mat-form-field>
            <mat-form-field class="col-md-12">
              <input matInput placeholder="Designation">
            </mat-form-field>
            <mat-form-field class="col-md-12">
              <input matInput placeholder="Current company">
            </mat-form-field>
            <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="col-md-12">
                    <input matInput placeholder="Current CTC">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="col-md-12">
                    <input matInput placeholder="Expected CTC">
                  </mat-form-field>
                </div>
              </div>
            <!-- <mat-form-field class="col-md-12">
              <input matInput placeholder="Current CTC">
            </mat-form-field> -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <mat-form-field class="col-md-12">
              <input matInput placeholder="Last name">
            </mat-form-field>
            <mat-form-field class="col-md-12">
              <input matInput placeholder="Mobile number">
            </mat-form-field>
            <mat-form-field class="col-md-12">
              <input matInput placeholder="Desired location">
            </mat-form-field>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="col-md-12">
                  <input matInput placeholder="Experience">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="col-md-12">
                  <input matInput placeholder="Notice Period">
                </mat-form-field>
              </div>
            </div>

            <mat-form-field class="col-md-12">
              <input matInput placeholder="Skills">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="roundbox">
          <label for="file-upload" class="custom-circle">
              <img src="assets/images/icon_photo.png"  class="dark-logo" style="max-height:25px; max-width:24px;" />
              <!-- <i class="fa fa-upload" style="color: #fafafa;"></i>  -->
          </label>
        <input type='file' id="file-upload" (change)="onSelectFile($event)"  >
        <div>
            <label style="color: gainsboro;font-size: 14px;">Imgae</label>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h3>Education Details</h3>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <mat-form-field class="col-md-12">
              <input matInput placeholder="Education">
            </mat-form-field>
            <mat-form-field class="col-md-12">
              <input matInput placeholder="Course">
            </mat-form-field>
            <mat-form-field class="col-md-12">
              <input matInput placeholder="Spelization">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
              <mat-form-field class="col-md-12">
                  <input matInput placeholder="University/Institute">
                </mat-form-field>
            <div class="col-md-6">
                <mat-form-field class="col-md-12">
                    <input matInput placeholder="Full/Part Time">
                  </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="col-md-12">
                <input matInput placeholder="Passing Out Year">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>